<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="theme-color" content="#7F5284" />
<link rel="preconnect" href="https://use.typekit.net" />
<script>
  /*! modernizr 3.6.0 (Custom Build) | MIT *
   * https://modernizr.com/download/?-webp-setclasses !*/
  !(function (e, n, A) {
    function o(e, n) {
      return typeof e === n;
    }
    function t() {
      var e, n, A, t, a, i, l;
      for (var f in r)
        if (r.hasOwnProperty(f)) {
          if (
            ((e = []),
            (n = r[f]),
            n.name &&
              (e.push(n.name.toLowerCase()),
              n.options && n.options.aliases && n.options.aliases.length))
          )
            for (A = 0; A < n.options.aliases.length; A++)
              e.push(n.options.aliases[A].toLowerCase());
          for (
            t = o(n.fn, "function") ? n.fn() : n.fn, a = 0;
            a < e.length;
            a++
          )
            (i = e[a]),
              (l = i.split(".")),
              1 === l.length
                ? (Modernizr[l[0]] = t)
                : (!Modernizr[l[0]] ||
                    Modernizr[l[0]] instanceof Boolean ||
                    (Modernizr[l[0]] = new Boolean(Modernizr[l[0]])),
                  (Modernizr[l[0]][l[1]] = t)),
              s.push((t ? "" : "no-") + l.join("-"));
        }
    }
    function a(e) {
      var n = u.className,
        A = Modernizr._config.classPrefix || "";
      if ((c && (n = n.baseVal), Modernizr._config.enableJSClass)) {
        var o = new RegExp("(^|\\s)" + A + "no-js(\\s|$)");
        n = n.replace(o, "$1" + A + "js$2");
      }
      Modernizr._config.enableClasses &&
        ((n += " " + A + e.join(" " + A)),
        c ? (u.className.baseVal = n) : (u.className = n));
    }
    function i(e, n) {
      if ("object" == typeof e) for (var A in e) f(e, A) && i(A, e[A]);
      else {
        e = e.toLowerCase();
        var o = e.split("."),
          t = Modernizr[o[0]];
        if ((2 == o.length && (t = t[o[1]]), "undefined" != typeof t))
          return Modernizr;
        (n = "function" == typeof n ? n() : n),
          1 == o.length
            ? (Modernizr[o[0]] = n)
            : (!Modernizr[o[0]] ||
                Modernizr[o[0]] instanceof Boolean ||
                (Modernizr[o[0]] = new Boolean(Modernizr[o[0]])),
              (Modernizr[o[0]][o[1]] = n)),
          a([(n && 0 != n ? "" : "no-") + o.join("-")]),
          Modernizr._trigger(e, n);
      }
      return Modernizr;
    }
    var s = [],
      r = [],
      l = {
        _version: "3.6.0",
        _config: {
          classPrefix: "",
          enableClasses: !0,
          enableJSClass: !0,
          usePrefixes: !0,
        },
        _q: [],
        on: function (e, n) {
          var A = this;
          setTimeout(function () {
            n(A[e]);
          }, 0);
        },
        addTest: function (e, n, A) {
          r.push({ name: e, fn: n, options: A });
        },
        addAsyncTest: function (e) {
          r.push({ name: null, fn: e });
        },
      },
      Modernizr = function () {};
    (Modernizr.prototype = l), (Modernizr = new Modernizr());
    var f,
      u = n.documentElement,
      c = "svg" === u.nodeName.toLowerCase();
    !(function () {
      var e = {}.hasOwnProperty;
      f =
        o(e, "undefined") || o(e.call, "undefined")
          ? function (e, n) {
              return n in e && o(e.constructor.prototype[n], "undefined");
            }
          : function (n, A) {
              return e.call(n, A);
            };
    })(),
      (l._l = {}),
      (l.on = function (e, n) {
        this._l[e] || (this._l[e] = []),
          this._l[e].push(n),
          Modernizr.hasOwnProperty(e) &&
            setTimeout(function () {
              Modernizr._trigger(e, Modernizr[e]);
            }, 0);
      }),
      (l._trigger = function (e, n) {
        if (this._l[e]) {
          var A = this._l[e];
          setTimeout(function () {
            var e, o;
            for (e = 0; e < A.length; e++) (o = A[e])(n);
          }, 0),
            delete this._l[e];
        }
      }),
      Modernizr._q.push(function () {
        l.addTest = i;
      }),
      Modernizr.addAsyncTest(function () {
        function e(e, n, A) {
          function o(n) {
            var o = n && "load" === n.type ? 1 == t.width : !1,
              a = "webp" === e;
            i(e, a && o ? new Boolean(o) : o), A && A(n);
          }
          var t = new Image();
          (t.onerror = o), (t.onload = o), (t.src = n);
        }
        var n = [
            {
              uri: "data:image/webp;base64,UklGRiQAAABXRUJQVlA4IBgAAAAwAQCdASoBAAEAAwA0JaQAA3AA/vuUAAA=",
              name: "webp",
            },
            {
              uri: "data:image/webp;base64,UklGRkoAAABXRUJQVlA4WAoAAAAQAAAAAAAAAAAAQUxQSAwAAAABBxAR/Q9ERP8DAABWUDggGAAAADABAJ0BKgEAAQADADQlpAADcAD++/1QAA==",
              name: "webp.alpha",
            },
            {
              uri: "data:image/webp;base64,UklGRlIAAABXRUJQVlA4WAoAAAASAAAAAAAAAAAAQU5JTQYAAAD/////AABBTk1GJgAAAAAAAAAAAAAAAAAAAGQAAABWUDhMDQAAAC8AAAAQBxAREYiI/gcA",
              name: "webp.animation",
            },
            {
              uri: "data:image/webp;base64,UklGRh4AAABXRUJQVlA4TBEAAAAvAAAAAAfQ//73v/+BiOh/AAA=",
              name: "webp.lossless",
            },
          ],
          A = n.shift();
        e(A.name, A.uri, function (A) {
          if (A && "load" === A.type)
            for (var o = 0; o < n.length; o++) e(n[o].name, n[o].uri);
        });
      }),
      t(),
      a(s),
      delete l.addTest,
      delete l.addAsyncTest;
    for (var p = 0; p < Modernizr._q.length; p++) Modernizr._q[p]();
    e.Modernizr = Modernizr;
  })(window, document);
</script>

<style>
  /*
* The Typekit service used to deliver this font or fonts for use on websites
* is provided by Adobe and is subject to these Terms of Use
* http://www.adobe.com/products/eulas/tou_typekit. For font license
* information, see the list below.
*
* dashiell-fine:
*   - http://typekit.com/eulas/00000000000000007735f0e2
*   - http://typekit.com/eulas/00000000000000007735f0df
* open-sans:
*   - http://typekit.com/eulas/00000000000000007735a061
*   - http://typekit.com/eulas/00000000000000007735a069
*   - http://typekit.com/eulas/00000000000000007735a075
*   - http://typekit.com/eulas/00000000000000007735a077
*
* © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
*/
  /*{"last_published":"2022-05-20 01:59:59 UTC"}*/

  @import url("https://p.typekit.net/p.css?s=1&k=hcd2pap&ht=tk&f=14541.14542.14546.14547.46754.46757&a=28418727&app=typekit&e=css");

  @font-face {
    font-family: "open-sans";
    src: url("https://use.typekit.net/af/8939f9/00000000000000007735a061/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
        format("woff2"),
      url("https://use.typekit.net/af/8939f9/00000000000000007735a061/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
        format("woff"),
      url("https://use.typekit.net/af/8939f9/00000000000000007735a061/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
        format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
  }

  @font-face {
    font-family: "open-sans";
    src: url("https://use.typekit.net/af/cb3467/00000000000000007735a069/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
        format("woff2"),
      url("https://use.typekit.net/af/cb3467/00000000000000007735a069/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
        format("woff"),
      url("https://use.typekit.net/af/cb3467/00000000000000007735a069/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
        format("opentype");
    font-display: swap;
    font-style: italic;
    font-weight: 700;
    font-stretch: normal;
  }

  @font-face {
    font-family: "open-sans";
    src: url("https://use.typekit.net/af/1c0a46/00000000000000007735a075/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
        format("woff2"),
      url("https://use.typekit.net/af/1c0a46/00000000000000007735a075/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
        format("woff"),
      url("https://use.typekit.net/af/1c0a46/00000000000000007735a075/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
        format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
  }

  @font-face {
    font-family: "open-sans";
    src: url("https://use.typekit.net/af/3942a0/00000000000000007735a077/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3")
        format("woff2"),
      url("https://use.typekit.net/af/3942a0/00000000000000007735a077/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3")
        format("woff"),
      url("https://use.typekit.net/af/3942a0/00000000000000007735a077/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3")
        format("opentype");
    font-display: swap;
    font-style: italic;
    font-weight: 300;
    font-stretch: normal;
  }

  @font-face {
    font-family: "dashiell-fine";
    src: url("https://use.typekit.net/af/3b939f/00000000000000007735f0e2/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3")
        format("woff2"),
      url("https://use.typekit.net/af/3b939f/00000000000000007735f0e2/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3")
        format("woff"),
      url("https://use.typekit.net/af/3b939f/00000000000000007735f0e2/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3")
        format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
  }

  @font-face {
    font-family: "dashiell-fine";
    src: url("https://use.typekit.net/af/14dab7/00000000000000007735f0df/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3")
        format("woff2"),
      url("https://use.typekit.net/af/14dab7/00000000000000007735f0df/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3")
        format("woff"),
      url("https://use.typekit.net/af/14dab7/00000000000000007735f0df/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3")
        format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
  }

  .tk-open-sans {
    font-family: "open-sans", sans-serif;
  }
  .tk-dashiell-fine {
    font-family: "dashiell-fine", serif;
  }
</style>
<link rel="stylesheet" href="css/styles.css" />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<script src="js/bundle/bundle.js" defer></script>
{% block head %}{% endblock %}
<title>{{ title }}</title>